.q
{
    background-color: black;
    color: white;
}
.s
{
    background-color: black;
    color: white;
}
.d
{
    margin-left: 42%;
    color: black;
}
a
{
    color: black;
}
img
{
    margin-left: 81%;
    border-radius: 100%;
}
p
{
    font-size: 175.000px;
}
.s
{
    font-size: xx-large;
    margin-left: 200px;
}
.f
{
    color: red;

}
.full
{
    background-color: black;
    color: white;
}
.nav
{
    background-color: black;
    color: white;
}
